<!DOCTYPE html>
<html ng-app="PortfolioApp">
<head>
  <title>Steve Policar, LLC</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <base href="/">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js"></script>
  <script type="text/javascript" src="stevepolicar/app.js"></script>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.css"> -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.css">
  <link href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js">
  <link rel="stylesheet" type="text/css" href="stevepolicar/style.css">

</head>
<body ng-controller="MainCtrl">
  <nav class="navbar navbar-static-top nav-styling" role="navigation">
    <div class="container-fluid container-overlay text-center">
      <!-- Brand and toggle get grouped for better mobile display -->
        <a class="logo " href="#"><img src="stevepolicar/header-logo2.png" alt=""></a>
  <!--     <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div> -->
      <br>
        <ul class="nav nav-ul navbar-nav navbar-right">
          <li><a ng-class="{'nav-active': page === 'home'}" ng-click="setContent('home')">Home</a></li>
          <li><a ng-class="{'nav-active': page === 'about'}" ng-click="setContent('about')">About</a></li>
          <li><a ng-sclass="{'nav-active': page === 'contact'}" ng-click="setContent('contact')">Contact</a></li>
          <li><a ng-class="{'nav-active': page === 'services'}" ng-click="setContent('services')">Services</a></li>
          <li><a ng-class="{'nav-active': page === 'credentials'}" ng-click="setContent('credentials')">Credentials</a></li>
        </ul>
    </div>
  </nav>
  <div class="viewport">
    <div class=" page">
      <div class="jumbotron">
        <div class="">
          <div class="content-container">
          <div class="text-center">
            <img class="headshot" src="stevepolicar/big_logo.png">
          </div>
          </div>
          </p>
        </div>
      </div>
      <ng-view></ng-view>
    </div>
  </div>
  <div class="panel-footer nav-styling text-center">
            <h2 ><big>Mass Transit Procurment Consulting</big></h2>
            <!-- <h2 ><big>{{title}}</big></h2> -->
            <div class="">
              <p class="content">
                <ul>
                  <li>Bullet</li>
                  <li>Points</li>
                  <li>go</li>
                  <li>here</li>
                </ul>
              </p>
              <!-- <p class="content">{{paragraph}}</p> -->
               <p>
               <hr>
            </div>
    <div class="row">
    <!--   <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <ul class="text-center nav">
          <label>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          </label>
        </ul>
      </div>
      <div class="col-sm-1">
        <ul class="text-center nav">
          <label>Label</label>
          <li>&nbsp;</li>
          <li>&nbsp;</li>
          <li>&nbsp;</li>
          <li><i class="fa fa-ellipsis-v fa-2x inverse"></i></li>
          <li>&nbsp;</li>
          <li>&nbsp;</li>
          <li>&nbsp;</li>
        </ul>
      </div>
      <div class="col-sm-2">
        <a class="logo-footer text-center" href="#"><img height="150px" src="logo.png" alt=""></a>
      </div>
      <div class="col-sm-1">
        <ul class="text-center nav">
          <label>Label</label>
          <li>&nbsp;</li>
          <li>&nbsp;</li>
          <li>&nbsp;</li>
          <li><i class="fa fa-ellipsis-v fa-2x inverse"></i></li>
          <li>&nbsp;</li>
          <li>&nbsp;</li>
          <li>&nbsp;</li>
        </ul>
      </div> -->
      <div class="col-sm-12">
        <ul class="text-center nav">
          <li>25906 SE 39th Place</li>
          <li>Issaquah, Washington 98029 USA</li>
          <li>office - 425.427.1246</li>
          <li>mobile - 425.829.2154</li>
          <a href="mailto:spolicar@comcast.net"><i class="fa fa-envelope"></i> spolicar@comcast.net</a>
        </ul>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <p class="text-center">Copyright Steve Policar LLC 2016, All Rights Reserved.</p>
  </div>
</body>
</html>