<div class="text-container">
  <div class="text">
    <h1>About Me</h1>
    <hr>
    <p class="about-text">I'm a Seattle area web developer looking for opportunities in full stack, front-end, and back-end development. When I'm not coding I enjoy: video games, music production, fantasy sports, camping, fishing, wine/beer/whiskey/scotch tastings, movies and TV shows.</p>

   <h3>My favorite tech to develop with:</h3>

    HTML <i class="fa fa-html5"></i>
    CSS <i class="fa fa-css3"></i><br>
    Ruby on Rails, Express.js, AngularJS, Sails.js<br>
    PostgreSQL, MongoDB, Sequelize, Waterline 1.0<br>
    TDD, Rspec<br>
    Git/Github, jQuery, Heroku, AWS, AJAX, JSON, Bootstrap, Material Design, Angular Material<br>

    <h3>Checkout my <a class="no-link-decoration" target="_blank" href="https://resume.creddle.io/resume/388ptdcao3k"><md-button class="main-link">resume</md-button></a> for more info.</h3>

  </div>
</div>